#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: rgba(240, 248, 255, 0.315);
  margin: 1rem 0;
  color: black;
  border-radius: 5px;
  min-width: 15rem;
  padding: 1rem;
}

.search-button {
  margin-left: 0.5rem;
}

.pokemon {
  list-style: none;
  text-align: left;
}
